.header {
    color: #1b445f;
    font-family: "Alfa Slab One", cursive;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.sub__header {
    font-size: 25px;
    text-align: center;
    font-family: 'Over the Rainbow', cursive;
}

.hiddenHeader {
    display: none;

}