.navigation {
    text-align: center;
    background-color: hsl(24, 94%, 50%);
    padding: 5px;
    border: 2px solid grey;
    transition: 0.4s;
}
.navigation:hover {
    background-color: hsl(24, 94%, 60%);
}

.navigation:active {
    background-color: hsl(24, 94%, 70%);
}

.navigation__list {
    display: inline-flex;
    padding-left: 20px;
    list-style-position: inside;
}

.navigation_listItem {
    padding: 10px;
    list-style: none;
    font-size: 25px;
    margin: 10px;
}

.navigation__link {
    padding: auto;
    color: white;
    text-decoration: none;
    font-weight: bold;

}