html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    display: block;
    background-color: #fdfaf7;
    font-family: "Roboto", sans-serif;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;

}

.newBackgroundChange {
    background-color: hsl(204, 56%, 74%);
}


.ciekawyElement {
    color: rgb(247, 103, 7);
}


